[mysqld]
# 実行計画のログを出力する
general_log=ON
general_log_file=/home/mysql_query_log/query.log
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
max_allowed_packet=252M

# スロークエリログを出力する
slow_query_log=ON
slow_query_log_file=/home/mysql_query_log/slow_query.log
long_query_time=5
